---
import ThemeToggle from "./ThemeToggle.astro";
const navItems = [
  {
    title: "Experience",
    label: "experiencia",
    url: "#experiencia",
  },
  {
    title: "Proyects",
    label: "proyectos",
    url: "#proyectos",
  },
  {
    title: "About",
    label: "sobre-mi",
    url: "#sobre-mi",
  },
  {
    title: "Contact",
    label: "contacto",
    url: "mailto:gcanales58@gmail.com",
  },
];
---

<header class="flex justify-between items-center py-3 mx-auto p-5 w-auto lg:w-[1000px]">
  
  <img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-500" src="foto1.webp" alt="Bordered avatar">

  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-200 justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-blue-500"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
  
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }
</style>
