---
import Badge from "./Badge.astro";
import SocialPill from "./SocialPill.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GithubIcon from "../icons/Github.astro";
import TwitterIcon from "../icons/Twitter.astro";
---

<div class="max-w-2xl mx-auto">
  <div class="flex flex-col sm:flex-row items-center justify-center sm:justify-start gap-4 mb-4">
    <h1 class="text-white text-3xl sm:text-4xl font-bold text-center sm:text-left">
      Hey, Soy Gustavo
    </h1>
    <div class="flex justify-center items-center">
      <Badge>Disponible para trabajar</Badge>
    </div>
  </div>
  
  <h2 class="text-lg sm:text-xl opacity-80 text-wrap py-3 sm:py-5 text-center sm:text-justify">
    Ingeniero de Sistemas y Desarrollador Web. De Ica, Peru. Especializado en el
    desarrollo de aplicaciones web y móviles. Me gusta aprender nuevas
    tecnologías y mejorar mis habilidades.
  </h2>

  <nav class="flex flex-wrap justify-center sm:justify-start gap-4 mt-6 sm:mt-8">
    <SocialPill href="https://www.linkedin.com/in/gscp/">
      <LinkedInIcon class="w-6 h-6" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/Gustav0C">
      <GithubIcon class="w-6 h-6" />
      Github
    </SocialPill>
    <SocialPill href="/public/CV de Gustavo Canales.docx" download="CV de Gustavo Canales.docx">
      <TwitterIcon class="w-6 h-6" />
      Descargar CV
    </SocialPill>
  </nav>
</div>
