---
import Badge from "./Badge.astro";
import SocialPill from "./SocialPill.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GithubIcon from "../icons/Github.astro";
import TwitterIcon from "../icons/Twitter.astro";
---

<div class="max-w-2xl">
  <h1
    class="text-white text-4xl font-bold flex justify-center flex-row gap-x-4"
  >
    Hey, Soy Gustavo <div class="flex justify-center items-center">
      <Badge >Disponible para trabajar</Badge>
    </div>
  </h1>
  <h2 class="text-xl opacity-80 text-wrap py-5 text-justify">
    Ingeniero de Sistemas y Desarrollador Web. De Ica, Peru. Especializado en el
    desarrollo de aplicaciones web y móviles. Me gusta aprender nuevas
    tecnologías y mejorar mis habilidades.
  </h2>

  <nav class="flex gap-x-4 mt-8">
    <SocialPill href="https://www.linkedin.com/in/gscp/">
      <LinkedInIcon class="w-6 h-6" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/Gustav0C">
      <GithubIcon class="w-6 h-6" />
      Github
    </SocialPill>
    <SocialPill href="/public/CV de Gustavo Canales.docx" download="CV de Gustavo Canales.docx">
      <TwitterIcon class="w-6 h-6" />
      Descargar CV
    </SocialPill>
  </nav>
</div>
