---
import Badge from "./Badge.astro";
---

<div class="max-w-2xl mx-auto">
  <h2 class="text-center text-xl sm:text-2xl font-extrabold mb-4 sm:mb-6">Skills</h2>
  <div class="flex flex-wrap gap-3 sm:gap-4 mt-2 sm:mt-4 items-center justify-center">
    <Badge>HTML</Badge>
    <Badge>CSS</Badge>
    <Badge>JavaScript</Badge>
    <Badge>React</Badge>
    <Badge>Astro</Badge>
    <Badge>Node.js</Badge>
    <Badge>MongoDB</Badge>
    <Badge>MySQL</Badge>
    <Badge>PostgreSQL</Badge>
    <Badge>Java</Badge>
    <Badge>GitHub</Badge>
    <Badge>Tailwind CSS</Badge>
    <Badge>Python</Badge>
  </div>
</div>
