---
import Arrow from "../icons/Down.astro";
import Badge from "./Badge.astro";
---

<div class="max-w-2xl mx-auto">
  <div id="scroll-arrow" class="flex justify-center mb-4 opacity-100 transition-opacity duration-300">
    <Arrow class="h-9 animate-pulse-subtle" />
  </div>
  <h2 class="text-center text-xl sm:text-2xl font-extrabold mb-4 sm:mb-6">Skills</h2>
  <div class="flex flex-wrap gap-3 sm:gap-4 mt-2 sm:mt-4 items-center justify-center">
    <Badge>HTML</Badge>
    <Badge>CSS</Badge>
    <Badge>JavaScript</Badge>
    <Badge>React</Badge>
    <Badge>Astro</Badge>
    <Badge>Node.js</Badge>
    <Badge>MongoDB</Badge>
    <Badge>MySQL</Badge>
    <Badge>PostgreSQL</Badge>
    <Badge>Java</Badge>
    <Badge>GitHub</Badge>
    <Badge>Tailwind CSS</Badge>
    <Badge>Python</Badge>
  </div>
</div>

<style>
  @keyframes pulse-subtle {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }

  .animate-pulse-subtle {
    animation: pulse-subtle 2s ease-in-out infinite;
    border: 1px solid #51E4B8;
    border-radius: 50%;
    rotate: 180deg;
  }

  .hidden-arrow {
    opacity: 0;
    pointer-events: none;
  }
</style>

<script>
  document.addEventListener('scroll', () => {
    const arrow = document.getElementById('scroll-arrow');
    if (window.scrollY > 100) {
      arrow?.classList.add('hidden-arrow');
    } else {
      arrow?.classList.remove('hidden-arrow');
    }
  });
</script>