---
import Badge from "./Badge.astro";
---

<div class="max-w-2xl">
  <h2 class="text-center text-2xl font-extrabold">Skills</h2>
  <div class="flex flex-wrap gap-x-4 gap-y-2 mt-4">
    <Badge>HTML</Badge>
    <Badge>CSS</Badge>
    <Badge>JavaScript</Badge>
    <Badge>React</Badge>
    <Badge>Astro</Badge>
    <Badge>Node.js</Badge>
    <Badge>MongoDB</Badge>
    <Badge>MySQL</Badge>
    <Badge>PostgreSQL</Badge>
    <Badge>Java</Badge>
    <Badge>GitHub</Badge>
    <Badge>Tailwind CSS</Badge>
    <Badge>Python</Badge>
  </div>
</div>
